body {
  background-image: url("https://images.pexels.com/photos/3454270/pexels-photo-3454270.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  font-family: "Noto Sans Display", sans-serif;
}

h1 {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

h2 {
  text-align: right;
  color: rgb(155, 95, 212);
}

li {
  list-style-type: none;
  text-align: left;
}

h3 {
  text-align: center;
  color: rgb(51, 48, 49);
}

p {
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

a {
  color: rgb(56, 20, 45);
}
a:visited {
  color: rgb(72, 25, 104);
}
a:hover {
  color: rgb(255, 255, 255);
}

.divider {
  color: rgb(155, 95, 212);
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
}

form {
  text-align: center;
  max-width: 85%;
  margin: 0 auto;
  padding-top: 50px;
}

.inlineButton {
  background-color: rgb(155, 95, 212);
  color: whitesmoke;
  border-radius: 5px;
  border-color: azure;
  padding: 10px, 10px, 10px, 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 30px;
  width: 100%;
}

.dateTime {
  color: white;
  text-align: center;
  font-size: 25px;
}

.date::first-letter {
  text-transform: capitalize;
}

.icon {
  display: inline;
  width: 60px;
  height: auto;
}
